.app h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
.app h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.app nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.app nav a:visited,
.app a:link {
  color: #607d8b;
}
.app nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
.app nav a.active {
  color: #039be5;
}
