/* DashboardComponent's private CSS styles */
.dashboard [class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.dashboard [class*='col-']:last-of-type {
  padding-right: 0;
}
.dashboard a {
  text-decoration: none;
}
.dashboard *,
.dashboard *:after,
.dashboard *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dashboard h3 {
  text-align: center;
  margin-bottom: 0;
}
.dashboard h4 {
  position: relative;
}
.dashboard .grid {
  margin: 0;
}
.dashboard .col-1-4 {
  width: 25%;
}
.dashboard .module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607d8b;
  border-radius: 2px;
}
.dashboard .module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.dashboard .grid-pad {
  padding: 10px 0;
}
.dashboard .grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .dashboard .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .dashboard .grid {
    margin: 0;
  }
  .dashboard .module {
    min-width: 60px;
  }
}
